html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.budgyLogo {
  padding-left: 1% !important;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
    font-size: 14px;
  }
}
